<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
    <span class="pull-left">
        <img src="https://cdn-sharing.adobecc.com/id/urn:aaid:sc:US:688a5855-e5ad-42ff-9331-b39dc54fade4;version=0?component_id=80651671-565e-43e2-b791-1f01a137559a&api_key=CometServer1&access_token=1602121100_urn%3Aaaid%3Asc%3AUS%3A688a5855-e5ad-42ff-9331-b39dc54fade4%3Bpublic_41860d51828a7dea403db44a3effee96a1e5c192">
    </span>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                מעסיק
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something</a>
            </div>
          </li>
        <li class="nav-item active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                נוכחות
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                קמפיינים
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                משאבי אנוש
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                תהליכים
            </a>
        </li>
        <li class="nav-item">
            <div class="mx-auto">
                <a class="nav-link " href="#">פניות</a>
            </div>
          
        </li>
        <li class="nav-item">
            <div class="mx-auto">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    שכר
                </a>
            </div>
           
        </li>
        <li class="nav-item">
            <div class="mx-auto">
                <a class="nav-link " href="#">עובדים</a>
            </div>
        </li>
        <li class="nav-item">
            <div class="mx-auto">
                <button type="button" class="btn btn-warning">משימות</button>
            </div>
            
        </li>
      </ul>
      <div class="mx-6">
          <button type="button" class="btn mx-auto"><i class="fas fa-search"></i></button>
          <button type="button" class="btn mx-auto"><i class="fas fa-exclamation-circle"></i></button>
          <button type="button" class="btn mx-auto"><i class="fas fa-cog"></i></button>
          <button type="button" class="btn mx-auto"><i class="fas fa-bell"></i><span class="badge badge-primary badge-pill">10</span></button>
      </div>
      <span class="nav-item pull-left">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Employer
        </a>
      </span>
      <span class="pull-left">
          <h1><i class="fas fa-user"></i></h1>
      </span>
        
      <span class="pull-left">
        <button type="button" class="btn"><i class="fab fa-windows"></i></button>
      </span>
      
    </div>
  </nav>

  
  