<nav class="navbar navbar-right">
    <div class="col text-right">
        <h2> ? מה תרצה לעשות</h2>
        <div class="navbar-header pull-right">
            <p href="#" class="navbar-brand" role="button"><i class="fas fa-funnel-dollar" style="color: rgb(219, 223, 4)"></i><br> החזרי הוצאות</p>
            <p href="#" class="navbar-brand" role="button"><i class="fas fa-drafting-compass" style="color: rgb(247, 2, 2)"></i><br> מוצרים פנסיונים</p>
            <p href="#" class="navbar-brand" role="button"><i class="fas fa-recycle" style="color: rgb(211, 5, 238)"></i><br> ניהול תהליכים</p>
            <p href="#" class="navbar-brand" role="button"><i class="fas fa-file" style="color: rgb(2, 6, 241)"></i><br> 101</p>
            <p href="#" class="navbar-brand" role="button"><i class="fas fa-clock" style="color: rgb(8, 231, 19)"></i><br> נוכחות</p>
        </div>
    </div>
</nav>
<div class="menu-bar">
    <ul>
        <li><h1 href="#"  style="color: rgb(241, 149, 10)">+</h1>
            <div class="sub-menu-1 ">
                <ul>
                    <li><a href="#">הוסף עובד חדש</a></li>
                    <li><a href="#">העלה מסמך</a></li>
                    <li><a href="#">צור טופס</a></li>
                    <li><a href="#">שלח קמפיין</a></li>
                    <li><a href="#">צור תהליך</a></li>
                    <li><a href="#">צור הודעה לעובד</a></li>
                    <li><a href="#">צור הודעת מערכת</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>