<app-navbar></app-navbar>
<app-little-menu></app-little-menu>
<hr>
<div class="container">
  <div class="row">
      <div class="col-7 col-sm-6 mb-5">
        <app-process></app-process>
      </div>
      <div class="col-7 col-sm-6 mb-5">
        <app-mission></app-mission>
      </div>
     <hr>
      <div class="col-7 col-sm-6 mb-5">
        <div class="w-70 text-right">
          <h2 class="title">דיווח נוכחות יומי <i class="fas fa-clock"></i></h2>
          <small > יום חמישי 12/3/2020  ישנם 38 עובדים מתוך 76 <i class="fas fa-clock" style="color: rgb(6, 245, 26)"></i></small>
          <app-attendance></app-attendance>
          <app-attendance></app-attendance>
          <app-attendance></app-attendance>
          <a href="#">  לחץ לרשימת נוכחות עובדים מלאה</a>
        </div>
      </div>
      <div class="col-7 col-sm-6 mb-5">
        <app-application></app-application>
      </div>
  </div>
</div>
<div class="container">
  <app-new-employe></app-new-employe>
</div>
<div class="container">
  <app-right-side-bar></app-right-side-bar>
</div>
